<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center hero-text-block">
        <h1>If you can think it you can program it</h1>
        <h2>Find your adventure, unlock your destiny! Explore our video game platform and immerse yourself in a world of
          unlimited fun.</h2>
        <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img hero-img-block">
        <img src="/img/hero-img-meting.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>