<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center hero-text-block">
        <h1>Create Worlds Build Games</h1>
        <h2>
          Join the ultimate ecosystem for aspiring developers and gamers.
          Master the tools of the industry, showcase your unique creations to the world,
          and turn your wildest ideas into playable realities.
        </h2>
        <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
      </div>
    </div>
  </div>
</section>