<section #countSection id="counts" class="counts">
  <div class="container">
    <div class="row counters">

      <div class="col-lg-3 col-6 text-center" reveal anim="zoom-in">
        <span>{{ countDevelopers }}</span>
        <p>Subscribed game developers</p>
      </div>

      <div class="col-lg-3 col-6 text-center" reveal anim="zoom-in">
        <span>{{ countGames }}</span>
        <p>Games powered by GameHub</p>
      </div>

      <div class="col-lg-3 col-6 text-center" reveal anim="zoom-in">
        <span>+{{ countHours }}</span>
        <p>Hours of tutorials</p>
      </div>

      <div class="col-lg-3 col-6 text-center" reveal anim="zoom-in">
        <span>+{{ countIssues }}</span>
        <p>Issues resolved per Day</p>
      </div>

    </div>
  </div>
</section>