<section #countSection id="counts" class="counts cyberpunk">
  <div class="container">
    <div class="row counters">

      <div class="col-lg-3 col-6 text-center stat" reveal anim="zoom-in">
        <span>{{ countDevelopers }}</span>
        <p>DEV ONLINE</p>
      </div>

      <div class="col-lg-3 col-6 text-center stat" reveal anim="zoom-in">
        <span>{{ countGames }}</span>
        <p>GAMES LIVE</p>
      </div>

      <div class="col-lg-3 col-6 text-center stat" reveal anim="zoom-in">
        <span>+{{ countHours }}</span>
        <p>XP HOURS</p>
      </div>

      <div class="col-lg-3 col-6 text-center stat" reveal anim="zoom-in">
        <span>+{{ countIssues }}</span>
        <p>BUGS FIXED</p>
      </div>

    </div>
  </div>
</section>