<header id="header" class="fixed-top" [class.scrolled]="isScrolled">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a routerLink="/">GameHub</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/home" fragment="header">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/games">Games</a></li>
        <li><a class="nav-link scrollto" routerLink="/courses">Courses</a></li>
        <li><a class="nav-link scrollto " routerLink="games/recommendations">Recomendation</a></li>
        <li class="dropdown"><a style="cursor: pointer;"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/user">Ir a Usuario (CLI)</a></li>
            <li class="dropdown"><a style="cursor: pointer;"><span>Deep Drop Down</span> <i
                  class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/order">Order</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
        <li><a class="getstarted scrollto" routerLink="/auth">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>