<header id="header" class="fixed-top" [class.scrolled]="isScrolled">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a routerLink="/">GameHub</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/home" fragment="header">Home</a></li>

        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Games</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/games">Store Marketplace</a></li>
            <li><a routerLink="/games/recommendations">Recommendations</a></li>

            <li class="dropdown">
              <a style="cursor: pointer;">
                <span>Community Hub</span> <i class="bi bi-chevron-right"></i>
              </a>
              <ul>
                <li><a routerLink="/games/community">Community Library</a></li>
                <li><a routerLink="/games/publish">Publish My Game</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li><a class="nav-link scrollto" routerLink="/courses">Courses</a></li>
        <li><a class="nav-link scrollto" routerLink="/order">Order</a></li>

        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Account</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/profile">My Profile</a></li>
            <li><a routerLink="/user">Admin Dashboard (CLI)</a></li>
            <li><a routerLink="/contact">Support</a></li>
          </ul>
        </li>

        <li><a class="getstarted scrollto" routerLink="/auth">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>