<header id="header" class="fixed-top" [class.scrolled]="isScrolled">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a routerLink="/">GameHub</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/home" fragment="header">Home</a></li>

        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Games</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/games" class="dropdown-item-custom">Store Marketplace</a></li>
            <li><a routerLink="/games/recommendations" class="dropdown-item-custom">Recommendations</a></li>
            @if (currentUser()) {

            <li class="dropdown">
              <a style="cursor: pointer;">
                <span>Community Hub</span> <i class="bi bi-chevron-right"></i>
              </a>
              <ul class="dropdown-menu-custom">
                <li><a routerLink="/games/community" class="dropdown-item-custom">Community Library</a></li>
                <li><a routerLink="/games/publish" class="dropdown-item-custom">Publish My Game</a></li>
              </ul>
            </li>
            }
          </ul>
        </li>

        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Courses</span> <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu-custom">
            <li>
              <a routerLink="/courses" class="dropdown-item-custom">Courses Library</a>
            </li>
            <li>
              <a routerLink="/contact" class="dropdown-item-custom">Support for Courses</a>
            </li>

            @if (currentUser()) {
            <li>
              <a routerLink="/courses/create" class="dropdown-item-custom">Create Course</a>
            </li>
            }
          </ul>
        </li>
        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Infromation</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <ul class="dropdown-menu-custom">
            <li>
              <a routerLink="/pages/about-us" class="dropdown-item-custom">
                About Us
              </a>
            </li>
            <li>
              <a routerLink="pages/terms-conditions" class="dropdown-item-custom">
                Terms & Conditions
              </a>
            </li>
          </ul>
        </li>@if (currentUser()) {
        <li class="dropdown">
          <a style="cursor: pointer;">
            <span>Account</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/profile">My Profile</a></li>
            <li><a routerLink="/contact">Support</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/order">Order</a></li>
        }
        <li><a class="getstarted scrollto" routerLink="/auth">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>