<section class="design-section features" id="design">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" reveal anim="fade-right">
        <h3>Features</h3>
        <p class="fst-italic">
          GameHub is a leading entity providing software solutions for game development and a learning platform...
        </p>
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="timeline-empty"></div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>


    <div class="timeline-card" reveal anim="fade-left" [delay]="100">
      <div class="card-glow-line"></div>
      <div class="card-content">
        <div class="card-tag">Plataforma</div>
        <h3 class="card-title">New Courses</h3>
        <p class="card-text">
          GameHub introduces a range of new courses covering advanced game development topics...
        </p>
        <div class="card-footer">
          <span class="read-more">Explorar ahora <i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
    </div>


    <div class="timeline-card" reveal anim="fade-right" [delay]="100">
      <div class="card-glow-line"></div>
      <div class="card-content">
        <div class="card-tag">Plataforma</div>
        <h3 class="card-title">New Courses</h3>
        <p class="card-text">
          GameHub introduces a range of new courses covering advanced game development topics...
        </p>
        <div class="card-footer">
          <span class="read-more">Explorar ahora <i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
    </div>

    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-empty"></div>
    <div class="timeline-empty"></div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>

    <div class="timeline-card" reveal anim="fade-left" [delay]="100">
      <div class="card-glow-line"></div>
      <div class="card-content">
        <div class="card-tag">Plataforma</div>
        <h3 class="card-title">New Courses</h3>
        <p class="card-text">
          GameHub introduces a range of new courses covering advanced game development topics...
        </p>
        <div class="card-footer">
          <span class="read-more">Explorar ahora <i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
    </div>


    <div class="timeline-card" reveal anim="fade-right" [delay]="100">
      <div class="card-glow-line"></div>
      <div class="card-content">
        <div class="card-tag">Plataforma</div>
        <h3 class="card-title">New Courses</h3>
        <p class="card-text">
          GameHub introduces a range of new courses covering advanced game development topics...
        </p>
        <div class="card-footer">
          <span class="read-more">Explorar ahora <i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
    </div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>

  </div>
</section>