<section id="about" class="about">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 order-1 order-lg-2" reveal anim="zoom-in" [delay]="150">
        <img src="img/about.jpg" class="img-fluid" alt="GameHub About">
      </div>

      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" reveal anim="fade-up">
        <h3>GameHub: Empowering Game Developers</h3>
        <p class="fst-italic">
          GameHub is a leading entity providing software solutions for game development and a learning platform for
          aspiring game developers.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Comprehensive tools for game development.</li>
          <li><i class="bi bi-check-circle"></i> Cutting-edge technology to fuel creativity.</li>
          <li><i class="bi bi-check-circle"></i> A dedicated learning platform for aspiring game developers.</li>
        </ul>

        <div href="#" class="read-more">Read More <i class="bi bi-long-arrow-right"></i>
        </div>
      </div>

    </div>
  </div>
</section>